<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "tk.greenmunchies"
        version   = "1">
    <name>Green Munchies </name>

    <description>
       Green Munchies
    </description>
        
    <preference name="android-minSdkVersion" value="14" />

<plugin name="cordova-plugin-whitelist" />
<plugin name="cordova-plugin-device" />
<plugin name="cordova-plugin-file" />
<plugin name="cordova-plugin-inappbrowser" />
<plugin name="cordova-plugin-statusbar" />
        
       
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
      
       



    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

</widget>
